* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1194px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.auth {
  margin-left: auto;
}

.search-form {
  position: relative;
  display: flex;
  flex-grow: 1;
  max-width: 620px;
  margin-left: 76px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
}

.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 13px 45px 13px 20px;
}

.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 18px;
  cursor: pointer;
}

.login {
  display: block;
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.shoping-cart {
  position: relative;
  width: 49px;
  height: 49px;
  background: #f66a15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  text-decoration: none;
}

.shoping-counter {
  position: absolute;
  display: block;
  background-color: #ffaf19;
  color: #000000;
  font-size: 8px;
  line-height: 9px;
  padding: 5px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.slide {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 20px;
  min-height: 400px;
  padding: 100px;
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.slide-text-light {
  background-color: #ccc;
  color: white;
}

.slide-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
}

.slide-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}

.button {
  border-radius: 25px;
  padding: 11px 50px;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

.button-primary {
  background: #f47322;
  color: white;
}
.button-defolt {
  background-color: #fff;
  color: #5f5f61;
}

.slide-content {
  position: relative;
  max-width: 400px;
}

.slide-summer {
  background-image: url(../img//summer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.promo {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: -25px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 20px;
  padding: 32px;
  overflow: hidden;
  max-width: 570px;
  min-height: 380px;
  /* width: 100%; */
  flex: 50%;
  margin: 25px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: -1;
}

.card-text-light {
  color: white;
}

.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}

.card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 167px;
}

.card-price {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}

.card-delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}

/* DELIVERY */
.delivery-week {
  padding: 100px 0;
}

.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.delivery-card {
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
  margin: 15px;
}

.delivery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery-tag {
  position: absolute;
  padding: 5px 10px;
  top: 16px;
  left: 10px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

/* TAGS */
.tag-health {
  background: #d0fd89;
  color: #49494f;
}
.tag-vegan {
  background: #aebc41;
  color: #fff;
}
.tag-meat {
  background: #b86b78;
  color: #fff;
}
.tag-cheek {
  background: #d68334;
  color: #fff;
}
.tag-fish {
  background: #cd6255;
  color: #fff;
}
.tag-kids {
  background: #fffdbf;
  color: #49494f;
}
.tag-parents {
  background: #f6fdc8;
  color: #49494f;
}
.tag-happy {
  background: #fef7fe;
  color: #49494f;
}

/* CATEGORY  */
.section-gray {
  background: #f6f6f6;
}
.category {
  padding: 40px 0 40px;
}
.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000;
}

.tabs {
  display: flex;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style-type: none;
}

.tab-link {
  text-decoration: none;
  padding-right: 58px;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
}

.tab-link.active {
  color: #f37321;
}

.tabs-content {
  display: flex;
  justify-content: space-between;
}

.tabs-card {
  max-width: 270px;
  border-radius: 20px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.tabs-image {
  max-width: 100%;
}

.tabs-card-content {
  padding: 23px;
}

.tabs-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.tabs-description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}

.tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs-price {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
  margin-bottom: 5px;
}

.tabs-weight {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #aaaab1;
}
.button-outline {
  background-color: transparent;
  border: 2px solid #f37321;
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #f37321;
  cursor: pointer;
}

.button-center {
  display: block;
  margin: 60px auto;
  width: 315px;
}

/* TEASER */
.section-teaser {
  padding-top: 100px;
}
.teaser-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}

.teaser-card {
  text-align: center;
  max-width: 270px;
  height: 296px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 25px;
}
.teaser-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.teaser-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.teaser-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494f;
}

.footer {
  padding: 40px 0;
  background: #f6f6f6;
}
.footer-wraper {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 50px;
}
.footer-link {
  margin-right: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #000000;
}
.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.socail-link {
  text-decoration: none;
  margin-left: 20px;
}
